## Settings file was created by plugin RealismStanceReplication v1.0.0
## Plugin GUID: com.lacyway.rsr

[Options]

## Requires Restart. Toggles replication for bots. Disabling can help improve performance if there are any issues.
# Setting type: Boolean
# Default value: true
Enable Stance Replication For Bots = true

## Time before stance resets after sprinting or collision.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 20
Reset Timer = 0.2

## Time before stance is cancelled due to sprinting or collision.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 20
Cancel Timer = 0.2

